.tooltip {
  background: aliceblue;
  border: 2px solid;
  padding: 0.5rem;
  position: absolute;
  view-transition-name: --tooltip; /* double dash is optional */
  position-anchor: --tooltip;
  z-index: 1;
}

::view-transition-old(--tooltip),
::view-transition-new(--tooltip) {
  height: 100%;
}

#anchor-btn {
  --btn-size: 2rem;
  background: royalblue;
  color: white;
  font-size: calc(var(--btn-size) - 0.75rem);
  border-radius: var(--btn-size);
  height: var(--btn-size);
  width: var(--btn-size);
  font-weight: 800;
  display: grid;
  place-content: center;
  border: 2px solid navy;
  anchor-name: --tooltip;
}

#imcb-visualizer {
  position: absolute;
  position-anchor: --tooltip;
  inset: 0;
  height: 100%;
  width: 100%;
  display: none;

  &.on {
    display: block;
  }

  /* &::after {
    position: absolute;
    content: "inset-modified containing block";
    top: 0.25rem;
    left: 0.25rem;
  } */
}

.checkered-bg {
  --col-1: lightgray;
  --col-2: #f3f3f3;
  background: var(--col-1); /* fallback */
  background-image:  repeating-linear-gradient(45deg, var(--col-1) 25%, transparent 25%, transparent 75%, var(--col-1) 75%, var(--col-1)), repeating-linear-gradient(45deg, var(--col-1) 25%, var(--col-2) 25%, var(--col-2) 75%, var(--col-1) 75%, var(--col-1));
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.preview-block {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 0.4rem;
}

/* etc */

.key-and-demo {
  display: grid;
  grid-template-columns: auto auto;
  border: 1px solid;
  position: relative;
  bottom: 0;
  top: 2rem;

  @media (width <= 768px) {
    grid-template-columns: 1fr;
  }
}

.options {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1rem;
}

.anchor-positions {
  top: 0;
  left: 0;
  display: grid;
  background: white;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin: 0;
  width: max-content;
  justify-self: end;
  z-index: 1;

  @media (width <= 768px) {
    justify-self: center;
  }
}

.anchor-positions li {
  list-style: none;
}

.anchor-positions button {
  background: none;
  border: none;
  width: 4rem;
  padding: 0;
}

.code-area {
  font-family: monospace;
  padding: 1.25rem;
  background: whitesmoke;
  border-left: 1px solid lightgray;
  position: relative;
  font-size: 1.2rem;
  width: 23rem;
  height: 3.5rem;

  @media (width <= 768px) {
    width: 19rem;
  }
}

.copy-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  background-color: steelblue;
  color: white;
  border: none;
  padding: 0.5rem;
  transition: background-color 0.25s;
  view-transition-name: code;
}

.copy-button:hover,
.copy-button:focus {
  background-color: green;
  cursor: pointer;
}

.copy-button::before {
  content: '';
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  top: 0.35rem;
  left: 0.35rem;
  border-radius: 5px;
  border: 2px solid white;
}

.copy-button::after {
  content: '';
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  top: 0.7rem;
  left: 0.7rem;
  background-color: inherit;
  border-radius: 5px;
  border: 2px solid white;
}

.vis {
  display: block;
  opacity: 0;
}

.vis::after {
  content: 'copied!';
  color: steelblue;
  position: absolute;
  right: -3rem;
  top: 0.5rem;
}

.vis.success {
  animation: success 0.2s linear forwards;
}

@keyframes success {
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.red {
  filter: hue-rotate(115deg);
}

.orange {
  filter: hue-rotate(170deg);
}

.green {
  filter: hue-rotate(235deg);
}

.violet {
  filter: hue-rotate(45deg);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  place-content: center;
  top: 0;
  left: 0;
  margin: 0;
  height: calc(100dvh - 4rem);
  align-items: center;
  overflow-x: hidden;

  @media (width <= 768px) {
    height: auto;
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
} 

figure {
  margin: 0;
}

img {
  width: 100%;
}

.containing-block {
  background: lightgray;
  height: calc(100% - 6rem);
  display: grid;
  place-items: center;
  position: relative;
  min-width: 23rem;
  min-height: 15rem;
  place-content: center;

  @media (width <= 768px) {
    min-width: 18rem;
  }
}

.active {
  outline: 2px solid;
}

.note {
  background: lightgoldenrodyellow;
  border-bottom: 1px solid gold;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem;

  code {
    font-size: 1rem;
    background: #ffe88c;
    padding: 0 0.2rem;
    border-radius: 0.5rem;
    border: 1px solid gold;
  }
}