.tooltip {
  background: aliceblue;
  border: 2px solid;
  padding: 0.5rem;
  
  /*  reset  */
  margin: 0;
}

#anchor-btn {
  --btn-size: 2rem;
  background: royalblue;
  color: white;
  font-size: calc(var(--btn-size) - 0.75rem);
  border-radius: var(--btn-size);
  height: var(--btn-size);
  width: var(--btn-size);
  font-weight: 800;
  display: grid;
  place-content: center;
  border: 2px solid var(--bg);
}

/* #anchor-btn:hover + .tooltip {
  inset-area: bottom;
} */

/* etc */

.anchor-positions {
  border: 1px solid;
  top: 0;
  left: 0;
  display: grid;
  background: white;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin: 0;
  width: max-content;
  justify-self: end;
  position: fixed;
  z-index: 1;
}

.anchor-positions li {
  list-style: none;
}

.anchor-positions button {
  background: none;
  border: none;
  width: 4rem;
  padding: 0;
}

.code-area {
  font-family: monospace;
  padding: 1rem;
  background: whitesmoke;
  border: 1px solid lightgray;
  position: relative;
  font-size: 1.2rem;
}

.copy-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  background-color: steelblue;
  color: white;
  border: none;
  padding: 0.5rem;
  transition: background-color 0.25s;
}

.copy-button:hover,
.copy-button:focus {
  background-color: green;
  cursor: pointer;
}

.copy-button::before {
  content: '';
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  top: 0.35rem;
  left: 0.35rem;
  border-radius: 5px;
  border: 2px solid white;
}

.copy-button::after {
  content: '';
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  top: 0.7rem;
  left: 0.7rem;
  background-color: inherit;
  border-radius: 5px;
  border: 2px solid white;
}

.vis {
  display: block;
  opacity: 0;
}

.vis::after {
  content: 'copied!';
  color: steelblue;
  position: absolute;
  right: -3rem;
  top: 0.5rem;
}

.vis.success {
  animation: success 0.2s linear forwards;
}

@keyframes success {
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.red {
  filter: hue-rotate(115deg);
}

.orange {
  filter: hue-rotate(170deg);
}

.green {
  filter: hue-rotate(235deg);
}

.violet {
  filter: hue-rotate(45deg);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  place-content: center;
  top: 0;
  left: 0;
  margin: 0;
  padding: 2rem;
  height: calc(100dvh - 4rem);
  align-items: center;
  gap: 2rem;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
} 

figure {
  margin: 0;
}

img {
  width: 100%;
}

.containing-block {
  border: 2px dashed cadetblue;
  height: 300px;
  display: grid;
  place-items: center;
  position: relative;
  min-width: 400px;
}

.containing-block::after {
  content: 'containing block';
  color: steelblue;
  position: absolute;
  right: 0;
  top: 0;
}

.active {
  outline: 2px solid;
}